$white: #fff;
$darkness: #1312129c;
$defaultStyle: 'light';

@mixin table-style($style: $defaultStyle) {
    @if $style =='dark' {

        table,
        th,
        td {
            color: $white !important;
            background-color: $darkness;
            margin: 5px;
            border: 1px solid $white;
        }
    }

    @else if($style =='light') {

        table,
        th,
        td {
            color: $darkness !important;
            background-color: $white;
            margin: 5px;
            border: 1px solid $darkness;
        }
    }
}

@mixin table-collapse-style {
    tr {
        :nth-last-child(n):first-child{
            width: fit-content ;
        }
    }

    table>div {
        background-color: inherit !important;
    }
}

@mixin table-container-style($collapsable: 'false', $side: 'left', $style: $defaultStyle, $width: 50vw, $bgColor: inherit, ) {
    @include table-style($style);

    @if($collapsable =='true') {
        @include table-collapse-style();
    }

    table {
        width: $width;
    }

    width: min-content;
    height: min-content;
    
    @if($side =='center') {
        margin-left: auto;
        margin-right: auto;
    }
    @else if($side =='right') {
        margin-left: auto;
    }

    background-color: $bgColor;
}

@mixin home-styles {
    .homeComponent {
        height: 100%;
        background-color: inherit;
    }
}