@import './utilities/stylesService.scss';
.tableContainer {
  @include table-container-style('true', 'left', 'none', '50vw');
  display: flex;
  flex-direction: row;
  width: min-content;
  background-color: inherit;
  td {
    max-width: 8vw;
  }
  :nth-child(n){
    margin: 5px;
  }
  :nth-child(1) {
    width: max-content;
  }
}
.App {
  text-align: center;
  height: 100%;
  width: max-content;
}